<h2> Edit Page </h2>

<form method = 'post'>
	<label>Name: </label>
                <input type='text' name='name' id='name' size='20' value={{this.name}}>
        <label>  Reps: </label>
                <input type='text' name='reps' id='reps' size='2' value={{this.reps}}>
        <label>  Weight: </label>
                <input type='text' name='weight' id='weight' size='3' value={{this.weight}}>
        <label>  Unit(1=lbs / 0=kgs): </label>
                <input type='text' name='unit' id='unti' size='1' value={{this.unit}}>
        <label>  Date(yyy-mm-dd): </label>
                <input type='text' name='date' id='date' size='15' value={{this.date}}>
        <input type='submit' name='update' value='update'>		
</form>

